body {
    height: 100vh;
    display: flex;
    color: aliceblue;
    align-items: center;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h5 {
    font-family: 'Poppins';
    font-weight: 800;
    color: #000;
}

h2 {
    font-family: 'Poppins';
    font-weight: 800;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container div {
    /* background: #fff; */
    padding: 10px;
    border-radius: 4px;
}
/* 
.answer {
    margin:5px;
    background:rgb(0, 60, 255);
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    color: aliceblue;
    border-radius: 3px;
}

.answer:hover {
    transform: scale(1.015);
}


.ansClicked {
    margin:5px;
    background: green;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    color: aliceblue;
    border-radius: 3px;
} */

#change {
    width:max-content;
    margin: 10px 0px;
    display: none;
}

.inp {
    display: none;
}

.ans {
    width: 60%;
}

label {
    background: blue;
}

label:hover {
    background: green;
}

.ans label {
    width: 100%;
}

.ansClicked {
    background: green;
}

#next {
    display: none;
}

#back {
    margin: 10px 0px;
}


.home {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 20px 40px;
}

.home h3,
.home h2 {
    font-weight: 700;
}

.home p {
    font-weight: 600;
}

.grade {
    font-weight: 700;
}

.board {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 20px 40px;
}

td {
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-size: larger;
}

.th {
    font-weight: 700;
    font-size: larger;
}